@using Evote.Models.Helpers
@model Evote.Committee_member

@{
    ViewBag.Title = "Register Committee Member";
}

<div class="agile-grids" style="min-height:100vh">
    <!-- RegisterCommitteeMember-page -->
    @Html.BootstrapValidationSummary()
    @Html.ShowFlashMessage()
    <div class="progressbar-heading grids-heading">
        <h2>Register Committee Member</h2>
    </div>
    <div class="banner">
        <h2>
            <a href="@Url.Action("Dashboard", "Admin")">Admin</a>
            <i class="fa fa-angle-right"></i>
            <span><a href="@Url.Action("RegisterCommitteeMember", "Admin")">RegisterCommitteeMember</a></span>
        </h2>
    </div>
    <div class="panel panel-widget forms-panel">
        <div class="forms">
            <div class="form-grids form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        <h4>Input information here :</h4>
                    </div>
                    <div class="form-body">
                        <form class="form-horizontal" method="post" action="@Url.Action("RegisterCommitteeMember", "Admin")" enctype="multipart/form-data">
                            <fieldset>
                                <legend>Personal Information: </legend>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Committee Membership Information: </legend>
                                <div class="form-group">
                                    <label for="cmvn" class="col-sm-2 control-label">Committee Membership Verification Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="cmvn" class="form-control" id="cmvn" placeholder="Committee Membership Verification Number" required>
                                    </div>
                                </div>
                            </fieldset>
                            @*<div class="form-group">
                                <label for="fullname" class="col-sm-2 control-label">Fullname</label>
                                <div class="col-sm-9">
                                    <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Fullname" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
                                <div class="col-sm-9">
                                    <input type="text" name="phone_number" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="membershipNumber" class="col-sm-2 control-label">Membership Number</label>
                                <div class="col-sm-9">
                                    <input type="text" name="membership_number" class="form-control" id="membershipNumber" placeholder="Membership Number" required>
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
                                <div class="col-sm-9">
                                    <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="picture" class="col-sm-2 control-label">Personal Picture</label>
                                <div class="col-sm-9">
                                    <input type="file" id="picture" name="file" required>
                                    <p class="help-block">
                                        Input a picture of yours, preferrably a full picture in portriat form using
                                        any common image file type e.g jpg, png
                                    </p>
                                </div>
                            </div>*@
                            <div class="col-sm-offset-2">
                                <button type="submit" class="btn btn-default w3ls-button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //RegisterCommitteeMember-page -->
</div>